@import "variables";
@import 'mediaqueries';

// Sub Section
@import 'accounts';
@import 'settings';

*{
    margin: 0;
    padding: 0;
    transition: 1s ease-in-out;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: $primaryWhite; 

    // Side Nav bar
    .panel{
        width: 20%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $secondaryGrey;
        .logo{
            font-family: $mainFontFamily;
            text-align: center;
            font-size: $largeFontSize;
            font-weight: bold;
            display: flex;
            justify-content: center;
            a{
                text-decoration: none;
                color: white;
                transition: 1s;
            }
            span{
                margin-left: 5px;
                color: $secondaryColor;
            }
        }
        .items{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50%;
            margin-top: 20px;
            .isActive{
                color: $secondaryColor;
                font-weight: bold;
                svg{
                    stroke: $secondaryColor;
                    stroke-width: 1;
                    color: $secondaryColor;
                }
            }
            a{
                border-bottom: 2px;
                border-top: 2px;
                border-radius: 5px;
                border-style: solid;
                border-color: $light;
                border-left: none;
                border-right: none;
                text-decoration: none;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $primaryGrey;
                font-size: $mediumFontSize;
                font-family: $mainFontFamily;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                svg{
                    width: 24px;
                    height: 24px;
                    color: $primaryGrey;
                }
            }
        }
    }
}