@import 'variables';
@import 'mediaqueries';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/bg_hero.JPG");
}

// The div body was to add shade to the BG_IMG
.body {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.70);

    .depoPage {
        width: 100vw;
        height: 100vh;
        position: fixed;
        visibility: hidden;
        display: flex;
        z-index: 150;
        justify-content: center;
        align-items: center;
        background-color: $backgroundColor;
        transition: 1s;

        .cancelButton {
            width: 50px;
            height: 50px;
            background-color: $errorColor;
            position: fixed;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            color: $primaryWhite;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $largestFontSize;
            font-family: $secondaryFontFamily;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: 0.7s;
            }

            .img {
                width: 25px;
                height: 25px;
                background-image: url("../node_modules/bootstrap-icons/icons/x-lg.svg");
            }
        }

        .grid {
            width: 100%;
            height: 80%;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .bronzePack {
                height: 100%;
                width: 30%;
                background-color: $primaryWhite;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .img {
                    height: 30%;
                    width: 90%;
                    background-image: url("../assets/images/3rd.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    align-self: center;
                }

                .writeUp {
                    h1 {
                        align-self: center;
                        color: $primaryBlack;
                        font-size: $mediumFontSize;
                        text-align: center;
                        margin-top: 5px;
                        font-family: $mainFontFamily;
                        text-transform: uppercase;
                        padding: 5px;
                        text-decoration: dashed;
                        overflow-y: hidden;
                    }

                    h4 {
                        color: $primaryGrey;
                        font-size: $mediumFontSize;
                        text-align: center;
                        margin-top: 10px;
                        font-family: $mainFontFamily;
                        overflow-y: hidden;

                        span {
                            color: $errorColor;
                            margin-left: 10px;
                        }

                        .max {
                            color: $successColor;
                        }

                        .normal {
                            color: $secondaryColor;
                        }
                    }
                }

                .btnBronze {
                    cursor: pointer;
                    background-color: $secondaryColor;
                    font-size: $mediumFontSize;
                    font-family: $mainFontFamily;
                    text-transform: uppercase;
                    margin-left: 20px;
                    margin-right: 20px;
                    color: $primaryWhite;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.05);
                        transition: 0.9s;
                    }
                }
            }

            .silverPack {
                height: 100%;
                width: 30%;
                background-color: $primaryWhite;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .img {
                    height: 30%;
                    width: 90%;
                    background-image: url("../assets/images/2nd.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    align-self: center;
                }

                .writeUp {
                    h1 {
                        align-self: center;
                        color: $primaryBlack;
                        font-size: $mediumFontSize;
                        text-align: center;
                        margin-top: 5px;
                        font-family: $mainFontFamily;
                        text-transform: uppercase;
                        padding: 5px;
                        text-decoration: dashed;
                        overflow-y: hidden;
                    }

                    h4 {
                        color: $primaryGrey;
                        font-size: $mediumFontSize;
                        text-align: center;
                        margin-top: 10px;
                        font-family: $mainFontFamily;
                        overflow-y: hidden;

                        span {
                            color: $errorColor;
                            margin-left: 10px;
                        }

                        .max {
                            color: $successColor;
                        }

                        .normal {
                            color: $secondaryColor;
                        }
                    }
                }

                .btnSilver {
                    cursor: pointer;
                    background-color: $secondaryColor;
                    font-size: $mediumFontSize;
                    font-family: $mainFontFamily;
                    text-transform: uppercase;
                    margin-left: 20px;
                    margin-right: 20px;
                    color: $primaryWhite;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.05);
                        transition: 0.9s;
                    }
                }
            }

            .goldPack {
                height: 100%;
                width: 30%;
                background-color: $primaryWhite;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .img {
                    height: 30%;
                    width: 90%;
                    background-image: url("../assets/images/1st.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    align-self: center;
                }

                .writeUp {
                    h1 {
                        align-self: center;
                        color: $primaryBlack;
                        font-size: $mediumFontSize;
                        text-align: center;
                        margin-top: 5px;
                        font-family: $mainFontFamily;
                        text-transform: uppercase;
                        padding: 5px;
                        text-decoration: dashed;
                        overflow-y: hidden;
                    }

                    h4 {
                        color: $primaryGrey;
                        font-size: $mediumFontSize;
                        text-align: center;
                        margin-top: 10px;
                        font-family: $mainFontFamily;
                        overflow-y: hidden;

                        span {
                            color: $errorColor;
                            margin-left: 10px;
                        }

                        .max {
                            color: $successColor;
                        }

                        .normal {
                            color: $secondaryColor;
                        }
                    }
                }

                .btnGold {
                    cursor: pointer;
                    background-color: $secondaryColor;
                    font-size: $mediumFontSize;
                    font-family: $mainFontFamily;
                    text-transform: uppercase;
                    margin-left: 20px;
                    margin-right: 20px;
                    color: $primaryWhite;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.05);
                        transition: 0.9s;
                    }
                }
            }
        }
    }

    // Payment Checkout
    .paymentCheckout {
        width: 100vw;
        height: 100vh;
        position: fixed;
        visibility: hidden;
        display: flex;
        z-index: 150;
        justify-content: center;
        align-items: center;
        background-color: $backgroundColor;
        translate: 100vw;
        transition: 1s;

        .cancelButtonPC {
            width: 50px;
            height: 50px;
            background-color: $errorColor;
            position: fixed;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            color: $primaryWhite;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $largestFontSize;
            font-family: $secondaryFontFamily;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: 0.7s;
            }

            .img {
                width: 25px;
                height: 25px;
                background-image: url("../node_modules/bootstrap-icons/icons/x-lg.svg");
            }
        }

        .center {
            width: 50vw;
            height: 50vh;
            background-color: $primaryWhite;
            border-radius: 10px;
        }
    }



    // Header
    .header {
        height: 10%;
        width: 100vw;
        font-size: $largestFontSize;
        background-color: $secondaryColor;
        color: $primaryWhite;
        font-family: $mainFontFamily;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .accountInfo {
        height: 35%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .balance {
            width: 30%;
            border-radius: 10px;
            background-color: $primaryWhite;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 60px;
                color: $secondaryColor;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }

            h4 {
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $secondaryColor;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;
            }
        }

        .deposit {
            width: 30%;
            border-radius: 10px;
            background-color: $primaryWhite;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 60px;
                color: $secondaryColor;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }

            h4 {
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $secondaryColor;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;
            }
        }

        .total {
            width: 30%;
            border-radius: 10px;
            background-color: $primaryWhite;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 60px;
                color: $secondaryColor;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }

            h4 {
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $secondaryColor;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;
            }
        }
    }

    .userInfo {
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-self: center;
        flex-direction: row;

        .username {
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $secondaryColor;

            h3 {
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;
            }

            #userUsername {
                color: $primaryColor;
                font-weight: bolder;
            }
        }

        .emailAddress {
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $secondaryColor;

            h3 {
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;
            }

            #userEmailAddress {
                color: $primaryColor;
                font-weight: bolder;
            }
        }

        .userNumber {
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $secondaryColor;

            h3 {
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;

                .img {
                    width: 25px;
                    height: 25px;
                    background-color: green;
                }
            }

            #userDate {
                color: $primaryColor;
                font-weight: bolder;
            }
        }

        .refferalLink {
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $secondaryColor;

            h3 {
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;

                .img {
                    width: 25px;
                    height: 25px;
                    background-color: green;
                }
            }

            #refferalLink {
                color: $successColor;
                font-weight: bolder;
                cursor: copy;
            }
        }

        .numRefferals {
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $secondaryColor;

            h3 {
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;

                .img {
                    width: 25px;
                    height: 25px;
                    background-color: green;
                }
            }

            #numRefferals {
                color: $primaryColor;
                font-weight: bolder;
            }
        }

        .Nil {
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $secondaryColor;

            h3 {
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;

                .img {
                    width: 25px;
                    height: 25px;
                    background-color: green;
                }
            }

            #nil {
                color: $primaryColor;
                font-weight: bolder;
            }
        }
    }

    // Invest Table
    .invest {
        height: 270px;
        display: flex;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;

        .depositInfo {
            width: 50%;
            display: flex;
            flex-direction: column;

            .top {
                text-align: center;
                font-weight: bolder;
                font-family: $mainFontFamily;
                font-size: $mediumFontSize;
                background-color: $secondaryColor;
                color: $primaryWhite;
                width: 100%;
                text-transform: uppercase;
            }

            .table {
                width: 100%;
                overflow-y: hidden;

                .aDeposit,
                .lDeposit,
                .tDeposit {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px;
                    font-family: $secondaryFontFamily;
                    color: $primaryWhite;
                    font-size: $smallFontSize;
                    border: 2px solid $secondaryColor;

                    span {
                        color: $successColor;
                        margin-right: 3px;
                    }
                }

                .btnDepo {
                    margin-top: 20px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    font-family: $secondaryFontFamily;
                    color: $primaryWhite;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: $mediumFontSize;
                    background-color: $secondaryColor;
                    border: 2px solid $secondaryColor;

                    .img {
                        width: 30px;
                        height: 30px;
                        background-image: url("../node_modules/bootstrap-icons/icons/wallet2.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        margin-right: 10px;
                    }

                    &:hover {
                        transform: scaleY(1.2);
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .withdrawInfo {
            width: 50%;
            display: flex;
            flex-direction: column;

            .top {
                text-align: center;
                font-weight: bolder;
                font-family: $mainFontFamily;
                font-size: $mediumFontSize;
                background-color: $primaryColor;
                color: $primaryWhite;
                width: 100%;
                text-transform: uppercase;
            }

            .lWithdrawal,
            .pWithdrawal,
            .tWithdrawal {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-size: $smallFontSize;
                border: 2px solid $primaryColor;

                span {
                    color: $successColor;
                    margin-right: 3px;
                }
            }

            .btnWith {
                margin-top: 20px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 5px;
                font-family: $secondaryFontFamily;
                color: $primaryWhite;
                font-weight: bold;
                text-transform: uppercase;
                font-size: $mediumFontSize;
                background-color: $primaryColor;
                border: 2px solid $primaryColor;

                .img {
                    width: 30px;
                    height: 30px;
                    background-image: url("../node_modules/bootstrap-icons/icons/credit-card.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-right: 10px;
                }

                &:hover {
                    transform: scaleY(1.2);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}



// MediaQuery
@include mobile {}