@import 'variables';

.aboutUs{
    background-color: $primaryWhite;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    &_head{
        display: flex;
        flex-direction: row;
        font-family: $mainFontFamily;
        font-size: $smallFontSize;
        color: $light;
    }
    &_title{
        font-size: $largestFontSize;
        color: $primaryBlack;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $mainFontFamily;
    }

    &_aboutus1{
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .company_profile{
            width: 400px;
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: $secondaryGrey;
            .img{
                height: 40%;
                width: 400px;
                background-position: center;
                background-size: cover;
                background-image: url('/assets/images/company_profile.jpg');
            }
            .title{
                font-size: $mediumFontSize;
                font-family: $mainFontFamily;
                color: $primaryBlack;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                margin-top: 10px;
            }
            .wup{
                margin-left: 10px;
                margin-right: 10px;
                font-size:8px;
                font-family: $mainFontFamily;
                color: $primaryGrey;
                text-align: center;
            }
            &:hover{
                transform: translateY(-10px);
                transition: 1s;
                box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.377);
            }
        }



        .company_mission{
            overflow: hidden;
            width: 350px;
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: $secondaryGrey;
            .img{
                height: 40%;
                width: 400px;
                background-position: center;
                background-size: cover;
                background-image: url('/assets/images/cp_mission.jpg');
            }
            .title{
                font-size: $mediumFontSize;
                font-family: $mainFontFamily;
                color: $primaryBlack;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
            }
            .wup{
                margin-left: 10px;
                margin-right: 10px;
                font-size: 8px;
                font-family: $mainFontFamily;
                color: $primaryGrey;
                text-align: center;
            }
            &:hover{
                transform: translateY(-10px);
                transition: 1s;
                box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.377);
            }
            &:hover.title{
                border-width: 2px;
                border-color: $secondaryGrey;
            }
        }
        


        .company_vision{
            width: 350px;
            border-style: solid;
            border-radius: 10px;
            overflow: hidden;
            border-width: 1px;
            border-color: $secondaryGrey;
            .img{
                height: 40%;
                width: 400px;
                background-position: center;
                background-size: cover;
                background-image: url('/assets/images/cp_vision.jpg');
            }
            .title{
                font-size: $mediumFontSize;
                font-family: $mainFontFamily;
                color: $primaryBlack;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
            }
            .wup{
                margin-left: 10px;
                margin-right: 10px;
                font-size: 8px;
                font-family: $mainFontFamily;
                color: $primaryGrey;
                text-align: center;
            }
            &:hover{
                transform: translateY(-10px);
                transition: 1s;
                box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.377);
            }
        }
    }
}