@import 'variables';

.affliate{
    height: 40vh;
    background-image:linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/cta-bg.jpg");
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .head{
        color: $primaryWhite;
        font-size: $largeFontSize;
        font-family: $mainFontFamily;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        animation: spinner 2s infinite;
        @keyframes spinner {
            0%{

            }
            100%{
                transform: scale(0.9);
            }
        }
    }
    .text{
        color: $primaryWhite;
        font-size: $smallFontSize;
        font-family: $mainFontFamily;
        width: 100%;
        text-align: center;
    }
    .getLink{
        cursor: pointer;
        border: 2px solid $primaryWhite;
        border-radius: 5px;
        padding: 5px;
        color: $primaryWhite;
        width: 150px;
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-self: center;
        margin: 10px;
        &:hover{
            background-color: $secondaryColor;
            color: $primaryWhite;
            border-color: transparent;
            transform: scale(1.1);
            transition: 0.7s;
        }
    }
}