@import 'variables';

.contact{
    background-color: $primaryWhite;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    &_head{
        display: flex;
        flex-direction: row;
        font-family: $mainFontFamily;
        font-size: $smallFontSize;
        color: $light;
        .slah{
            margin-left: 10px;
            color: $secondaryColor;
        }
    }
    &_title{
        font-size: $largestFontSize;
        color: $primaryBlack;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $mainFontFamily;
    }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 40%;
            padding: 10px;
            .number{
                display: flex;
                flex-direction: row;
                height: 70px;
                .icon{
                    display: flex;
                    height: 100%;
                    width: 70px;
                    justify-content: center;
                    align-items: center;
                    background-color: $secondaryColor;
                    border-radius: 5px;
                    .img{
                        height: 70px;
                        width: 70px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url("../node_modules/bootstrap-icons/icons/phone.svg");
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    h1{
                        font-family: $mainFontFamily;
                        color: $primaryBlack;
                        size: $largeFontSize;
    
                    }
                    h4{
                        margin-top: 10px;
                        font-family: $secondaryFontFamily;
                        color: $primaryGrey;
                        size: $largeFontSize;
                        font-weight: lighter;
                    }
                }
            }
    
    
            .address{
                display: flex;
                flex-direction: row;
                height: 70px;
                display: flex;
                flex-direction: row;
                .icon{
                    display: flex;
                    height: 100%;
                    width: 70px;
                    justify-content: center;
                    align-items: center;
                    background-color: $secondaryColor;
                    border-radius: 5px;
                    .img{
                        height: 70px;
                        width: 70px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url("../node_modules/bootstrap-icons/icons/map.svg");
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    h1{
                        font-family: $mainFontFamily;
                        color: $primaryBlack;
                        size: $largeFontSize;
    
                    }
                    h4{
                        margin-top: 10px;
                        font-family: $secondaryFontFamily;
                        color: $primaryGrey;
                        size: $largeFontSize;
                        font-weight: lighter;
                    }
                }
            }
    
    
            .email{ display: flex;
                flex-direction: row;
                height: 70px;
                display: flex;
                flex-direction: row;
                .icon{
                    display: flex;
                    height: 100%;
                    width: 70px;
                    justify-content: center;
                    align-items: center;
                    background-color: $secondaryColor;
                    border-radius: 5px;
                    .img{
                        height: 70px;
                        width: 70px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url("../node_modules/bootstrap-icons/icons/envelope.svg");
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    h1{
                        font-family: $mainFontFamily;
                        color: $primaryBlack;
                        size: $largeFontSize;
    
                    }
                    h4{
                        margin-top: 10px;
                        font-family: $secondaryFontFamily;
                        color: $primaryGrey;
                        size: $largeFontSize;
                        font-weight: lighter;
                    }
                }
            }
        }
    
}