@import 'variables';

.footer{
    height: 7vh;
    width: 100%;
    background-color: $primaryBlack;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 130;

    .logo{
        overflow-y: hidden;
        text-decoration: none;
        font-family: $mainFontFamily;
        color: $primaryWhite;
        font-size: 32px;
        font-weight: bolder;
        height: 50px;
        span{
            color: $secondaryColor;
        }
    }

    .socialLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        .instagram{
            width: 25px;
            height: 100%;
            margin-left: 10px;
            margin-right: 10px;
            &:hover{
                transform: scale(1.2);
                transition: ease-in 0.5s;
            }
        }
        .skype{
            width: 25px;
            height: 100%;
            margin-left: 10px;
            margin-right: 10px;
            &:hover{
                transform: scale(1.2);
                transition: ease-in 0.5s;
            }
        }
        .twitter{
            width: 25px;
            height: 100%;
            margin-left: 10px;
            margin-right: 10px;
            &:hover{
                transform: scale(1.2);
                transition: ease-in 0.5s;
            }
        }
    }
    .mailAddress{
        display: flex;
        flex-direction: row;
        margin-right: 50px;
        span{
            color: $primaryWhite;
            font-size: $smallFontSize;
            margin-right: 10px;
        }
        h1{
          color: $primaryWhite;
        font-size: $smallFontSize;
        font-weight: lighter;
        font-family: $mainFontFamily;  
        }
        
    }
}