@import 'variables';

.iadvices{
    background-color: $primaryWhite;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    &_head{
        display: flex;
        @extend %centerVertical;
        text-transform: uppercase;
        font-family: $mainFontFamily;
        font-size: $largestFontSize;
        font-weight: bold;
        color: $primaryBlack;
    }
    &_title{
        display: flex;
        text-align: center;
        @extend %centerVertical;
        font-family: $mainFontFamily;
        font-size: $smallFontSize;
        color: $primaryGrey;
    }

    &_row1{
        display: flex;
        margin-top: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 400px;
        .starterPack{
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: $primaryGrey;
            width: 300px;
            .starterPack_img{
                background-color: aqua;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .img{
                    height: 100px;
                    width: 100px;
                    background-color: red;
                }
            }
        }
        .advancePack{
            width: 300px;
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: $primaryGrey;
        }
        .goldPack{
            width: 300px;
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: $primaryGrey;
        }
    }

    .footer{
        background-color: orange;
        height: 30%;
    }
}