@import 'variables';

.iadvices{
    background-color: $primaryWhite;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    &_head{
        display: flex;
        @extend %centerVertical;
        text-transform: uppercase;
        font-family: $mainFontFamily;
        font-size: $largestFontSize;
        font-weight: bold;
        color: $primaryBlack;
    }
    &_title{
        margin-top: 10px;
        display: flex;
        text-align: center;
        @extend %centerVertical;
        font-family: $mainFontFamily;
        font-size: $smallFontSize;
        color: $primaryGrey;
    }
    .starterPack{
        width: 100%;
        height: 45%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        .writeUp{
            height: 100%;
            width: 50%;
            border-radius: 10px;
            background-image: url("/assets/images/counts-img.jpg");
            background-position: center;
            background-size: cover;
        }
        .image{
            margin-left: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h1{
                font-size: $largeFontSize;
                font-family: $mainFontFamily;
                text-transform: uppercase;
            }
            h4{
                font-size: $smallFontSize;
                color: $primaryGrey;
                font-family: $secondaryFontFamily;
            }
        }
    }


}