@import 'variables';

.navbar{
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $primaryWhite;
    &__logo{
        text-decoration: none;
        font-family: $mainFontFamily;
        color: $primaryBlack;
        font-size: $largeFontSize;
        font-weight: bolder;
        span{
            color: $secondaryColor;
        }
    }
    &__bars{
        display: flex;
        flex-direction: row;
        align-items: center;
        &_a{
            text-decoration: none;
            font-size: $smallFontSize;
            font-family: $mainFontFamily;
            margin-left: 10px;
            margin-right: 10px;
            color: $primaryBlack;
            &:hover{
                transform: scale(1.05);
                color: $secondaryColor;
                transition: 0.3s;
            }
        }
    }
}