@import 'variables';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: $light;
    .header{
        height: 10%;
        width: 100vw;
        font-size: $largestFontSize;
        background-color: $primaryColor;
        color: $primaryBlack;
        font-family: $mainFontFamily;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    .accountInfo{
        height: 35%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .balance{
            width: 30%;
            border-radius: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 60px;
                color: $primaryWhite;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }
            h4{
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $primaryWhite;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;  
            }
        }
        .deposit{ 
            width: 30%;
            border-radius: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 60px;
                color: $primaryWhite;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }
            h4{
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $primaryWhite;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;  
            }
        }
        .total{
            width: 30%;
            border-radius: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 60px;
                color: $primaryWhite;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }
            h4{
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $primaryWhite;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;  
            }
        }
    }
    .userInfo{
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-self: center;
        flex-direction: row;
        .username{
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $primaryColor;
            h3{
                font-family:$secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
            }
            #userUsername{
                color: $secondaryColor;
            }
        }
        .emailAddress{
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $primaryColor;
            h3{
                font-family: $secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
            }
            #userEmailAddress{
                color: $secondaryColor;
            }
        }
        .userNumber{
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $primaryColor;
            h3{
                font-family: $secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
            }
            #userNumber{
                color: $secondaryColor;
            }
        }
    }
    .invest{
        height: 250px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        
        .investmentInfo{
            width: 50%;
            display: flex;
            flex-direction: column;
            border: solid;
            border-width: 2px;
            border-radius: 10px 0px 0px 10px;
            border-color: $primaryColor; 
           .head{
            text-align: center;
            color: $primaryWhite;
            font-family: $mainFontFamily;
            font-weight: bold;
            text-transform: uppercase;
            font-size: $mediumFontSize;
           }
        }
        .withdrawalInfo{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}