* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #c9c9c9;
}
body .depoPage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  display: flex;
  z-index: 150;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
body .depoPage .cancelButton {
  width: 50px;
  height: 50px;
  background-color: #cc3c3c;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Arial";
  cursor: pointer;
}
body .depoPage .cancelButton:hover {
  transform: scale(1.1);
  transition: 0.7s;
}
body .depoPage .cancelButton .img {
  width: 25px;
  height: 25px;
  background-image: url("../node_modules/bootstrap-icons/icons/x-lg.svg");
}
body .depoPage .grid {
  width: 100%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .depoPage .grid .bronzePack {
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .depoPage .grid .bronzePack .img {
  height: 30%;
  width: 90%;
  background-image: url("../assets/images/3rd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
}
body .depoPage .grid .bronzePack .writeUp h1 {
  align-self: center;
  color: #000000;
  font-size: 23px;
  text-align: center;
  margin-top: 5px;
  font-family: "Poppins";
  text-transform: uppercase;
  padding: 5px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  overflow-y: hidden;
}
body .depoPage .grid .bronzePack .writeUp h4 {
  color: #727272;
  font-size: 23px;
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins";
  overflow-y: hidden;
}
body .depoPage .grid .bronzePack .writeUp h4 span {
  color: #cc3c3c;
  margin-left: 10px;
}
body .depoPage .grid .bronzePack .writeUp h4 .max {
  color: #60dd60;
}
body .depoPage .grid .bronzePack .writeUp h4 .normal {
  color: #1740D8;
}
body .depoPage .grid .bronzePack .btn {
  cursor: pointer;
  background-color: #1740D8;
  font-size: 23px;
  font-family: "Poppins";
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
body .depoPage .grid .bronzePack .btn:hover {
  transform: scale(1.05);
  transition: 0.9s;
}
body .depoPage .grid .silverPack {
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .depoPage .grid .silverPack .img {
  height: 30%;
  width: 90%;
  background-image: url("../assets/images/2nd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
}
body .depoPage .grid .silverPack .writeUp h1 {
  align-self: center;
  color: #000000;
  font-size: 23px;
  text-align: center;
  margin-top: 5px;
  font-family: "Poppins";
  text-transform: uppercase;
  padding: 5px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  overflow-y: hidden;
}
body .depoPage .grid .silverPack .writeUp h4 {
  color: #727272;
  font-size: 23px;
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins";
  overflow-y: hidden;
}
body .depoPage .grid .silverPack .writeUp h4 span {
  color: #cc3c3c;
  margin-left: 10px;
}
body .depoPage .grid .silverPack .writeUp h4 .max {
  color: #60dd60;
}
body .depoPage .grid .silverPack .writeUp h4 .normal {
  color: #1740D8;
}
body .depoPage .grid .silverPack .btn {
  cursor: pointer;
  background-color: #1740D8;
  font-size: 23px;
  font-family: "Poppins";
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
body .depoPage .grid .silverPack .btn:hover {
  transform: scale(1.05);
  transition: 0.9s;
}
body .depoPage .grid .goldPack {
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .depoPage .grid .goldPack .img {
  height: 30%;
  width: 90%;
  background-image: url("../assets/images/1st.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
}
body .depoPage .grid .goldPack .writeUp h1 {
  align-self: center;
  color: #000000;
  font-size: 23px;
  text-align: center;
  margin-top: 5px;
  font-family: "Poppins";
  text-transform: uppercase;
  padding: 5px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  overflow-y: hidden;
}
body .depoPage .grid .goldPack .writeUp h4 {
  color: #727272;
  font-size: 23px;
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins";
  overflow-y: hidden;
}
body .depoPage .grid .goldPack .writeUp h4 span {
  color: #cc3c3c;
  margin-left: 10px;
}
body .depoPage .grid .goldPack .writeUp h4 .max {
  color: #60dd60;
}
body .depoPage .grid .goldPack .writeUp h4 .normal {
  color: #1740D8;
}
body .depoPage .grid .goldPack .btn {
  cursor: pointer;
  background-color: #1740D8;
  font-size: 23px;
  font-family: "Poppins";
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
body .depoPage .grid .goldPack .btn:hover {
  transform: scale(1.05);
  transition: 0.9s;
}
body .header {
  height: 10%;
  width: 100vw;
  font-size: 40px;
  background-color: #e29b00;
  color: #000000;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
body .accountInfo {
  height: 35%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body .accountInfo .balance {
  width: 30%;
  border-radius: 10px;
  background-color: #e29b00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .accountInfo .balance h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}
body .accountInfo .balance h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}
body .accountInfo .deposit {
  width: 30%;
  border-radius: 10px;
  background-color: #e29b00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .accountInfo .deposit h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}
body .accountInfo .deposit h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}
body .accountInfo .total {
  width: 30%;
  border-radius: 10px;
  background-color: #e29b00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .accountInfo .total h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}
body .accountInfo .total h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}
body .userInfo {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-self: center;
  flex-direction: row;
}
body .userInfo .username {
  width: 33.4%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid;
  border-color: #e29b00;
}
body .userInfo .username h3 {
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
}
body .userInfo .username #userUsername {
  color: #1740D8;
  font-weight: lighter;
}
body .userInfo .emailAddress {
  width: 33.4%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid;
  border-color: #e29b00;
}
body .userInfo .emailAddress h3 {
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
}
body .userInfo .emailAddress #userEmailAddress {
  color: #1740D8;
  font-weight: lighter;
}
body .userInfo .userNumber {
  width: 33.4%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid;
  border-color: #e29b00;
}
body .userInfo .userNumber h3 {
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
}
body .userInfo .userNumber h3 .img {
  width: 25px;
  height: 25px;
  background-color: green;
}
body .userInfo .userNumber #userNumber {
  color: #1740D8;
  font-weight: lighter;
}
body .invest {
  height: 270px;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
body .invest .depositInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .invest .depositInfo .top {
  text-align: center;
  font-family: "Poppins";
  font-size: 23px;
  background-color: #1740D8;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
}
body .invest .depositInfo .table {
  width: 100%;
  overflow-y: hidden;
}
body .invest .depositInfo .table .aDeposit, body .invest .depositInfo .table .lDeposit, body .invest .depositInfo .table .tDeposit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
  border: 2px solid #1740D8;
}
body .invest .depositInfo .table .btnDepo {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: "Arial";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 23px;
  background-color: #1740D8;
  border: 2px solid #1740D8;
}
body .invest .depositInfo .table .btnDepo .img {
  width: 30px;
  height: 30px;
  background-image: url("../node_modules/bootstrap-icons/icons/wallet2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
body .invest .depositInfo .table .btnDepo:hover {
  transform: scaleY(1.2);
  transition: 0.3s ease-in-out;
}
body .invest .withdrawInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .invest .withdrawInfo .top {
  text-align: center;
  font-family: "Poppins";
  font-size: 23px;
  background-color: #e29b00;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
}
body .invest .withdrawInfo .lWithdrawal, body .invest .withdrawInfo .pWithdrawal, body .invest .withdrawInfo .tWithdrawal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
  border: 2px solid #e29b00;
}
body .invest .withdrawInfo .btnWith {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: "Arial";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 23px;
  background-color: #e29b00;
  border: 2px solid #e29b00;
}
body .invest .withdrawInfo .btnWith .img {
  width: 30px;
  height: 30px;
  background-image: url("../node_modules/bootstrap-icons/icons/credit-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
body .invest .withdrawInfo .btnWith:hover {
  transform: scaleY(1.2);
  transition: 0.3s ease-in-out;
}/*# sourceMappingURL=dashboard.css.map */