@import 'variables';
@import 'mediaqueries';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: $light;
    .header{
        height: 10%;
        width: 100vw;
        font-size: $largestFontSize;
        background-color: $primaryColor;
        color: $primaryBlack;
        font-family: $mainFontFamily;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    .accountInfo{
        height: 35%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .balance{
            width: 30%;
            border-radius: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 60px;
                color: $primaryWhite;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }
            h4{
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $primaryWhite;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;  
            }
        }
        .deposit{ 
            width: 30%;
            border-radius: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 60px;
                color: $primaryWhite;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }
            h4{
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $primaryWhite;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;  
            }
        }
        .total{
            width: 30%;
            border-radius: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 60px;
                color: $primaryWhite;
                font-family: $mainFontFamily;
                text-align: center;
                width: 100%;
            }
            h4{
                margin-top: 30px;
                font-size: $smallFontSize;
                color: $primaryWhite;
                font-family: $secondaryFontFamily;
                text-align: center;
                width: 100%;  
            }
        }
    }
    .userInfo{
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-self: center;
        flex-direction: row;
        .username{
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $primaryColor;
            h3{
                font-family:$secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
            }
            #userUsername{
                color: $secondaryColor;
                font-weight: lighter;
            }
        }
        .emailAddress{
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $primaryColor;
            h3{
                font-family: $secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
            }
            #userEmailAddress{
                color: $secondaryColor;
                font-weight: lighter;
            }
        }
        .userNumber{
            width: 33.4%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border: 2px solid;
            border-color: $primaryColor;
            h3{
                font-family: $secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
                .img{
                    width: 25px;
                    height: 25px;
                    background-color: green;
                }
            }
            #userNumber{
                color: $secondaryColor;
                font-weight: lighter;
            }
        }
    }
    .invest{
        height: 270px;
        display: flex;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        .depositInfo{
            width: 50%;
            display: flex;
            flex-direction: column;
            .top{
                text-align: center;
                font-family: $mainFontFamily;
                font-size: $mediumFontSize;
                background-color:$secondaryColor;
                color: $primaryWhite;
                width: 100%;
                text-transform: uppercase;
            }
            .table{
                width: 100%;
                .aDeposit, .lDeposit, .tDeposit{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px;
                    font-family: $secondaryFontFamily;
                    color: $primaryBlack;
                    font-size: $smallFontSize;
                    border: 2px solid $secondaryColor;
                }
             }
        }
        .withdrawInfo{
            width: 50%;
            display: flex;
            flex-direction: column;
            .top{
                text-align: center;
                font-family: $mainFontFamily;
                font-size: $mediumFontSize;
                background-color:$primaryColor;
                color: $primaryWhite;
                width: 100%;
                text-transform: uppercase;
            }
            .lWithdrawal,.pWithdrawal, .tWithdrawal{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;
                font-family: $secondaryFontFamily;
                color: $primaryBlack;
                font-size: $smallFontSize;
                border: 2px solid $primaryColor;
            }
        }
    }
}