* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #c9c9c9;
}
body .header {
  height: 10%;
  width: 100vw;
  font-size: 40px;
  background-color: #e29b00;
  color: #000000;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
body .accountInfo {
  height: 35%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body .accountInfo .balance {
  width: 30%;
  border-radius: 10px;
  background-color: #e29b00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .accountInfo .balance h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}
body .accountInfo .balance h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}
body .accountInfo .deposit {
  width: 30%;
  border-radius: 10px;
  background-color: #e29b00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .accountInfo .deposit h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}
body .accountInfo .deposit h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}
body .accountInfo .total {
  width: 30%;
  border-radius: 10px;
  background-color: #e29b00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .accountInfo .total h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}
body .accountInfo .total h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}
body .userInfo {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-self: center;
  flex-direction: row;
}
body .userInfo .username {
  width: 33.4%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid;
  border-color: #e29b00;
}
body .userInfo .username h3 {
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
}
body .userInfo .username #userUsername {
  color: #1740D8;
  font-weight: lighter;
}
body .userInfo .emailAddress {
  width: 33.4%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid;
  border-color: #e29b00;
}
body .userInfo .emailAddress h3 {
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
}
body .userInfo .emailAddress #userEmailAddress {
  color: #1740D8;
  font-weight: lighter;
}
body .userInfo .userNumber {
  width: 33.4%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid;
  border-color: #e29b00;
}
body .userInfo .userNumber h3 {
  font-family: "Arial";
  color: #000000;
  font-size: 16px;
}
body .userInfo .userNumber h3 .img {
  width: 25px;
  height: 25px;
  background-color: green;
}
body .userInfo .userNumber #userNumber {
  color: #1740D8;
  font-weight: lighter;
}
body .invest {
  height: 270px;
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}
body .invest .depositInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .invest .depositInfo .top {
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  background-color: #1740D8;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
}
body .invest .withdrawInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .invest .withdrawInfo .top {
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  background-color: #e29b00;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
}/*# sourceMappingURL=dashboard.css.map */