// All impoerts are accesory files required to facilitate the project broken down into variable files and Ln2 then categories from Ln4 to 
@import "variables";
@import 'mediaqueries';

@import 'navbar';
@import 'hero';
@import 'aboutUs';
@import 'affliate';
@import 'iadvices';
@import 'cpd';
@import 'contact';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-image: url("../assets/images/bg_hero.JPG");
    background-color: opacity($color: #000000);


    // Back to top Button
    .backbutton{
        width: 50px;
        height: 50px;
        background-color: $secondaryColor;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        display: flex;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            transform: scale(1.5);
            transform: rotate(360deg);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
        }
        .img{
            width: 25px;
            height: 25px;
            background-image: url("../node_modules/bootstrap-icons/icons/arrow-up.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .createanaccount{
        width: 100vw;
        height: 100vh;
        position: fixed;
        visibility: hidden;
        display: flex;
        z-index: 150;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3;
        .cancelButton{
            width: 50px;
            height: 50px;
            background-color: $errorColor;
            position: fixed;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            color: $primaryWhite;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $largestFontSize;
            font-family: $secondaryFontFamily;
             &:hover{
                transform: scale(1.1);
                transition: 0.7s;
            }
            .img{
                width: 25px;
                height: 25px;
                background-image: url("../node_modules/bootstrap-icons/icons/x-lg.svg");
            }
        }
        .center{
            overflow: hidden;
            background-color: $primaryWhite;
            opacity: 1;
            width: 500px;
            height: 500px;
            padding: 5px;
            border-radius: 10px;
            border-width: 5px;
            border-style: solid;
            border-color: $primaryBlack;
            .head{
                background-color: $light;
                border-radius: 5px  5px 0px 0px;
                height: 7%;
                overflow-y: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                    .txt{
                        font-weight: bold;
                        color: $primaryGrey;
                        font-family: $mainFontFamily;
                        font-size: $mediumFontSize;
                    }
            }
            .form{
                overflow-y: hidden;
                display: flex;
                margin: 2px;
                justify-content: space-between;
                flex-direction: column;
                h3{
                    font-family: $mainFontFamily;
                    font-size: $smallFontSize;
                }
                input{
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border-color: $primaryBlack;
                    height: 30px;
                    color: $primaryBlack;
                    padding: 5px;
                    font-size: 11px;
                    font-family: $mainFontFamily;
                }
                button{
                    border-radius: 5px;
                    border-color: transparent;
                    border-radius: 5px;
                    height: 40px;
                    background-color: $secondaryColor;
                    font-size: $smallFontSize;
                    font-weight: bold;
                    font-family: $mainFontFamily;
                    color: $primaryWhite;
                    &:hover{
                      background-color: #03b076; 
                      color: black;
                      font-weight: bold;
                      transition: 1s; 
                    }
                }
            }
        }
    }   



    .loginaccount{
        width: 100vw;
        height: 100vh;
        position: fixed;
        visibility: hidden;
        display: flex;
        z-index: 150;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3;
        .cancelButtonLogin{
            width: 50px;
            height: 50px;
            background-color: $errorColor;
            position: fixed;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            color: $primaryWhite;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $largestFontSize;
            font-family: $secondaryFontFamily;
             &:hover{
                transform: scale(1.1);
                transition: 0.7s;
            }
            .img{
                width: 25px;
                height: 25px;
                background-image: url("../node_modules/bootstrap-icons/icons/x-lg.svg");
            }
        }
        .center{
            overflow: hidden;
            background-color: $primaryWhite;
            opacity: 1;
            width: 500px;
            height: 250px;
            padding: 5px;
            border-radius: 10px;
            border-width: 5px;
            border-style: solid;
            border-color: $primaryBlack;
            .head{
                background-color: $light;
                border-radius: 5px  5px 0px 0px;
                height: 11%;
                overflow-y: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                    .txt{
                        font-weight: bold;
                        color: $primaryGrey;
                        font-family: $mainFontFamily;
                        font-size: $mediumFontSize;
                    }
            }
            .form{
                overflow-y: hidden;
                display: flex;
                margin: 2px;
                margin-top: 10px;
                justify-content: space-between;
                flex-direction: column;
                h3{
                    font-family: $mainFontFamily;
                    font-size: $smallFontSize;
                }
                input{
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border-color: $primaryBlack;
                    height: 30px;
                    color: $primaryBlack;
                    padding: 5px;
                    font-size: 11px;
                    font-family: $mainFontFamily;
                }
                button{
                    border-radius: 5px;
                    border-color: transparent;
                    border-radius: 5px;
                    height: 40px;
                    background-color: $secondaryColor;
                    font-size: $smallFontSize;
                    font-weight: bold;
                    font-family: $mainFontFamily;
                    color: $primaryWhite;
                    &:hover{
                      background-color: rgb(3, 177, 119); 
                      color: black;
                      font-weight: bold;
                      transition: 1s; 
                    }
                }
            }
        }
    }  


}


// Media Query
@include mobile{
    body{
    background-image: url("../assets/images/bg_hero.JPG");
    background-color: opacity($color: #000000);
    background-position: center;
    }
}