// All impoerts are accesory files required to facilitate the project broken down into variable files and Ln2 then categories from Ln4 to 
@import "variables";

@import 'navbar';
@import 'hero';
@import 'aboutUs';
@import 'iadvices';
@import 'contact';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-image: url("/assets/images/bg_hero.JPG");
    background-color: opacity($color: #000000);
    // Back to top Button
    .backbutton{
        width: 50px;
        height: 50px;
        background-image: url("/node_modules/bootstrap-icons/icons/arrow-up-square.svg");
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        display: flex;
        z-index: 100;
        &:hover{
            transform: scale(1.2);
            transform: rotate(360deg);
            transition: ease-out 1s;
        }
    }
    
}