.iadvices_title, .iadvices_head {
  display: flex;
  justify-content: center;
}

.iadvices_title, .iadvices_head {
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 10px;
  nav-index: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
.navbar__logo {
  overflow-y: hidden;
  text-decoration: none;
  font-family: "Poppins";
  color: #ffffff;
  font-size: 32px;
  font-weight: bolder;
}
.navbar__logo span {
  color: #1740D8;
}
.navbar__bars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__bars_a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}
.navbar__bars_a:hover {
  transform: scale(1.05);
  color: #1740D8;
  transition: 0.3s;
}

.iadvices_title, .iadvices_head {
  display: flex;
  justify-content: center;
}

.hero {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
}
.hero__headText {
  text-align: center;
  font-size: 64px;
  font-family: "Poppins";
  font-weight: bold;
  color: #ffffff;
  -webkit-animation: scaling 2s infinite;
          animation: scaling 2s infinite;
}
.hero__headText span {
  color: #1740D8;
}
@-webkit-keyframes scaling {
  100% {
    transform: scale(1.05);
  }
}
@keyframes scaling {
  100% {
    transform: scale(1.05);
  }
}
.hero__smallText {
  text-align: center;
  font-size: 25px;
  font-family: "Poppins";
  color: #c9c9c9;
}
.hero .userButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 30px;
}
.hero .userButtons .sup {
  border-radius: 5px;
  border-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  height: 50px;
  width: 150px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
}
.hero .userButtons .sup:hover {
  transform: scale(1.2);
  transition: 1s;
}
.hero .userButtons .lin {
  border-radius: 5px;
  border-color: #ffffff;
  border-width: 2px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
}
.hero .userButtons .lin:hover {
  transform: scale(1.2);
  transition: 1s;
}

.iadvices_title, .iadvices_head {
  display: flex;
  justify-content: center;
}

.aboutUs {
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  padding: 30px;
}
.aboutUs_head {
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  font-size: 16px;
  color: #c9c9c9;
}
.aboutUs_title {
  font-size: 40px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Poppins";
}
.aboutUs_aboutus1 {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutUs_aboutus1 .company_profile {
  width: 400px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
}
.aboutUs_aboutus1 .company_profile .img {
  height: 40%;
  width: 400px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/company_profile.jpg");
}
.aboutUs_aboutus1 .company_profile .title {
  font-size: 25px;
  font-family: "Poppins";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
.aboutUs_aboutus1 .company_profile .wup {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 8px;
  font-family: "Poppins";
  color: #727272;
  text-align: center;
}
.aboutUs_aboutus1 .company_profile:hover {
  transform: translateY(-10px);
  transition: 1s;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.377);
}
.aboutUs_aboutus1 .company_mission {
  overflow: hidden;
  width: 350px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
}
.aboutUs_aboutus1 .company_mission .img {
  height: 40%;
  width: 400px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/cp_mission.jpg");
}
.aboutUs_aboutus1 .company_mission .title {
  font-size: 25px;
  font-family: "Poppins";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.aboutUs_aboutus1 .company_mission .wup {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 8px;
  font-family: "Poppins";
  color: #727272;
  text-align: center;
}
.aboutUs_aboutus1 .company_mission:hover {
  transform: translateY(-10px);
  transition: 1s;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.377);
}
.aboutUs_aboutus1 .company_mission:hover.title {
  border-width: 2px;
  border-color: #ebebeb;
}
.aboutUs_aboutus1 .company_vision {
  width: 350px;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
  border-width: 1px;
  border-color: #ebebeb;
}
.aboutUs_aboutus1 .company_vision .img {
  height: 40%;
  width: 400px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/cp_vision.jpg");
}
.aboutUs_aboutus1 .company_vision .title {
  font-size: 25px;
  font-family: "Poppins";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.aboutUs_aboutus1 .company_vision .wup {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 8px;
  font-family: "Poppins";
  color: #727272;
  text-align: center;
}
.aboutUs_aboutus1 .company_vision:hover {
  transform: translateY(-10px);
  transition: 1s;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.377);
}

.iadvices_title, .iadvices_head {
  display: flex;
  justify-content: center;
}

.iadvices {
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  padding: 30px;
}
.iadvices_head {
  display: flex;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}
.iadvices_title {
  display: flex;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  color: #727272;
}
.iadvices_row1 {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  flex-direction: row;
  height: 400px;
}
.iadvices_row1 .starterPack {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #727272;
  width: 300px;
}
.iadvices_row1 .starterPack .starterPack_img {
  background-color: aqua;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iadvices_row1 .starterPack .starterPack_img .img {
  height: 100px;
  width: 100px;
  background-color: red;
}
.iadvices_row1 .advancePack {
  width: 300px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #727272;
}
.iadvices_row1 .goldPack {
  width: 300px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #727272;
}
.iadvices .footer {
  background-color: orange;
  height: 30%;
}

.iadvices_head, .iadvices_title {
  display: flex;
  justify-content: center;
}

.faq {
  height: 100vh;
  background-color: pink;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url("/assets/images/bg_hero.JPG");
  background-color: 1;
}
body .backbutton {
  width: 50px;
  height: 50px;
  background-color: #1740D8;
  border-radius: 5px;
  position: fixed;
  right: 15px;
  bottom: 15px;
}
body .backbutton:hover {
  transform: scale(1.2);
  transition: 2s;
}/*# sourceMappingURL=index.css.map */