$primaryColor: #e29b00;
$secondaryColor: #1740D8;
$primaryGrey: #727272;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
$errorColor: #cc3c3c;
$successColor: #60dd60;
$largestFontSize: 40px;
$largeFontSize: 30px;
$mediumFontSize: 25px;
$smallFontSize: 16px;
$buttonHeight: 30px;
$mainFontFamily: 'Poppins';